*{
	padding:0;
	margin:0;
	list-style: none;
}

.clearfix{
	content: none;
}
.clearfix:after{
	clear: both;
	display: block;
}
.wrap_content{
	background: #999;
	width: 100%;
	height: 800px;
}
